{% extends "base.html" %}
{% block content %}
    <div class="search-form">
        <form action="" method="post"">
            <p>
                {{ form.title.label }}:
                {{ form.title(size=32, class_='search') }}
            </p>
            <p>
                {{ form.author.label }}:
                {{ form.author(size=32, class_='search') }}
                <!-- {{ form.author(size=32, autocomplete='off', id='authorInput', class_='search', onclick='revealDropdown("authorDropdown", "authorInput")', onblur='hideDropdown("authorDropdown")', onkeyup='filterFunction("authorInput", "authorDropdown")') }}
                <span id="authorDropdown" class="dropdown-content">
                    {% for author in authors %}
                    <span onMouseDown="fillInput('authorInput', '{{ author.name }}')">{{ author.name }}</span>
                    {% endfor %}
                </span> -->
            </p>
            <p>
                {{ form.subject.label }}:
                <span class="search-bar">
                    {{ form.subject(size=32, autocomplete='off', id='subjectInput', class_='search', onclick='revealDropdown("subjectDropdown", "subjectInput")', onblur='hideDropdown("subjectDropdown")', onkeyup='filterFunction("subjectInput", "subjectDropdown")') }}
                    <span id="subjectDropdown" class="dropdown-content">
                    {% for subject in subjects %}
                    <span onMouseDown="fillInput('subjectInput', '{{ subject.name }}')">{{ subject.name }}</span>
                    {% endfor %}
                </span>
            </span>
            </p>
            <p>
                {{ form.website.label }}:
                <span class="search-bar">
                    {{ form.website(size=32, autocomplete='off', id='websiteInput', class_='search', onclick='revealDropdown("websiteDropdown", "websiteInput")', onblur='hideDropdown("websiteDropdown")', onkeyup='filterFunction("websiteInput", "websiteDropdown")') }}
                    <span id="websiteDropdown" class="dropdown-content">
                    {% for website in websites %}
                    <span onMouseDown="fillInput('websiteInput', '{{ website.name }}')">{{ website.name }}</span>
                    {% endfor %}
                </span>
                </span>
            </p>
            <p>{{ form.submit() }}</p>
        </form>
    </div>
    

    <script>

        function revealDropdown(id, source) {
            document.getElementById(id).classList.toggle("show", true);
            filterFunction(source, id)
        }

        function hideDropdown(id) {
            document.getElementById(id).classList.toggle("show", false);
        }

        function fillInput(id, text) {
            document.getElementById(id).value = text;
        }

        // Adapted from https://www.w3schools.com/howto/howto_js_filter_dropdown.asp
        function filterFunction(source, reveal) {
          var input, filter, ul, li, elements, found, i;
          input = document.getElementById(source);
          filter = input.value.toUpperCase();
          div = document.getElementById(reveal);
          elements = div.getElementsByTagName("span");
          for (i = 0; i < elements.length; i++) {
            txtValue = elements[i].textContent || elements[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                elements[i].style.display = "";
            } else {
                elements[i].style.display = "none";
            }
          }
        } 
            </script>
    {% endblock %}